body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('/static/img/background_image.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.container {
    margin-top: 50px;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-submit {
    margin-top: 10px;
}

.btn-fetch {
    margin-top: 10px;
    margin-left: 10px;
}